/* Header */
header {
    margin-top: 0px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', ourier, monospace;
    background: url(../img/gato-background.jpg);
    background-size: cover;
    background-position: center;
<<<<<<< HEAD
    height: 180px;
    align-items: center;
}

header div {
=======
    min-height: 180px;  
    align-items: center;  
}
.header-caixa {
>>>>>>> c031336e142a3bdb31239fc9866fdbb6386b4a41
    align-items: center;
    display: flex;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

/* Main */
main {
    padding: 100px;
}

.todos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.todos div img {
    width: 250px;
    height: 150px;
}

<<<<<<< HEAD
/* Media querys */

@media only screen and (max-device-width: 900px) {
    main {
        padding: 50px;
    }
    header {
        width: 100%;
        height: 100%;

    }
    
    header div {
        flex-direction: column;
       
    }
    p {
        font-size: 24px;
        text-align: center;
    }
    .todos {
        flex-wrap: wrap;
        align-items: center;
=======
.todos:last-child {
    margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header-caixa {
        flex-direction: column;
    }

    .todos {
        flex-wrap: wrap;
    }

    .todos:last-child {
        margin-top: 0;
>>>>>>> c031336e142a3bdb31239fc9866fdbb6386b4a41
    }
}